<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/about.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <nav class="nav">
        <ul class="ul">
            <li class="li"><a href="/" class="a">Home</a></li>
            <li class="li"><a href="/about" class="a">About</a></li>
        </ul>
    </nav>
    <header class="header">
        <div class="container">
            <img class="image" src="./assets//unnamed.jpg" alt="picture">
            <h1 class="h1">
                Ciputra Pangestu
            </h1>
            <p class="p">Web Developer</p>
        </div>
    </header>
</body>
</html>